In [1]:
import pandas as pd
import numpy as np

In [2]:
churn = pd.read_csv('Churn_Norm.csv')

In [3]:
churn.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Gender_Int,Geography_Germany,Geography_Spain,Balance_Int
0,0.538,0.324324,0.2,0.000000,0.000000,1.0,1.0,0.506735,1.0,1.0,0.0,0.0,0.0
1,0.516,0.310811,0.1,0.334031,0.000000,0.0,1.0,0.562709,0.0,1.0,0.0,1.0,1.0
2,0.304,0.324324,0.8,0.636357,0.666667,1.0,0.0,0.569654,1.0,1.0,0.0,0.0,1.0
3,0.698,0.283784,0.1,0.000000,0.333333,0.0,0.0,0.469120,0.0,1.0,0.0,0.0,0.0
4,1.000,0.337838,0.2,0.500246,0.000000,1.0,1.0,0.395400,0.0,1.0,0.0,1.0,1.0

#### Variables for X except 'Exited'

In [9]:
X = churn.drop(['Exited'], axis = 1)
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Gender_Int,Geography_Germany,Geography_Spain,Balance_Int
0,0.538,0.324324,0.2,0.000000,0.000000,1.0,1.0,0.506735,1.0,0.0,0.0,0.0
1,0.516,0.310811,0.1,0.334031,0.000000,0.0,1.0,0.562709,1.0,0.0,1.0,1.0
2,0.304,0.324324,0.8,0.636357,0.666667,1.0,0.0,0.569654,1.0,0.0,0.0,1.0
3,0.698,0.283784,0.1,0.000000,0.333333,0.0,0.0,0.469120,1.0,0.0,0.0,0.0
4,1.000,0.337838,0.2,0.500246,0.000000,1.0,1.0,0.395400,1.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.842,0.283784,0.5,0.000000,0.333333,1.0,0.0,0.481341,0.0,0.0,0.0,0.0
9996,0.332,0.229730,1.0,0.228657,0.000000,1.0,1.0,0.508490,0.0,0.0,0.0,1.0
9997,0.718,0.243243,0.7,0.000000,0.000000,0.0,1.0,0.210390,1.0,0.0,0.0,0.0
9998,0.844,0.324324,0.3,0.299226,0.333333,1.0,0.0,0.464429,0.0,1.0,0.0,1.0
9999,0.884,0.135135,0.4,0.518708,0.000000,1.0,0.0,0.190914,1.0,0.0,0.0,1.0

#### Variable y with 'Exited'

In [7]:
y = churn.Exited
y.head()

0    1.0
1    0.0
2    1.0
3    0.0
4    0.0
Name: Exited, dtype: float64

#### Libraries for metrics

In [10]:
from sklearn import metrics
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

#### Training and testing

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.10)

In [12]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(9000, 12)
(9000,)
(1000, 12)
(1000,)

### Logistic Regression

In [13]:
# Import the class
from sklearn.linear_model import LogisticRegression
#instantiate the model (using the default parameters)
logreg = LogisticRegression().fit(X, y)

In [14]:
logreg.fit(X, y)

LogisticRegression()

In [15]:
logreg.score(X, y)

0.8114

In [16]:
y_pred = logreg.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         0.0       0.83      0.96      0.89       804
         1.0       0.55      0.18      0.27       196

    accuracy                           0.81      1000
   macro avg       0.69      0.57      0.58      1000
weighted avg       0.77      0.81      0.77      1000

### Ridge regression

In [17]:
# alpha=0 is equivalent to linear regression
from sklearn.linear_model import Ridge
ridgereg = Ridge(alpha=0, normalize=True)
ridgereg.fit(X, y)

Ridge(alpha=0, normalize=True)

In [18]:
ridgereg.score(X, y)

0.15079686424073147

In [19]:
y_pred = ridgereg.predict(X_test)

In [21]:
# try alpha=0.1
ridgereg = Ridge(alpha=0.1, normalize=True)
ridgereg.fit(X_train, y_train)
y_pred = ridgereg.predict(X_test)

In [22]:
ridgereg.score(X, y)

0.149616662441301

### Lasso regression

In [23]:
# try alpha=0.001
from sklearn.linear_model import Lasso
lassoreg = Lasso(alpha=0.001, normalize=True)
lassoreg.fit(X_train, y_train)
y_pred = lassoreg.predict(X_test)

In [24]:
lassoreg.score(X, y)

0.0259640391063386

##### CONCLUSION: It is quite evident that trying with some of the regression model is not giving a good result.